.Videos{
    height: 40vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.heading{
    color: white;
    text-align: center;
    font-size: 10vh;
}
.videosTab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.utubeImg{
    height: 5vw;
    align-items: center;
    text-align: center;
}
p{
    color: white;
    font-size: large;
}


@media (max-width: 700px) {
    
    .videoIcon{
        display: none;
    }
    .videosTab{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10vw;
    }
    .vid{
        margin: auto;
        margin-bottom: 15vw;
    }
  }
